<div style='overflow-x:auto'><table style='font-size:12px' cellpadding='5' border='1' cellspacing='0'>  <thead>
    <tr style="text-align: right;">
      <th>week</th>
      <th>period</th>
      <th>weight_initial</th>
      <th>weight_end</th>
      <th>weight_avg</th>
      <th>weight_delta</th>
      <th>weight_avg-initial</th>
      <th>fat%_avg</th>
      <th>calories_avg</th>
      <th>carbohydrates_avg</th>
      <th>protein_avg</th>
      <th>fat_avg</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>06/21-06/27</td>
      <td>102.6</td>
      <td>100.9</td>
      <td>101.428571</td>
      <td>-1.7</td>
      <td>-1.171429</td>
      <td>28.718572</td>
      <td>2850.571429</td>
      <td>329.714286</td>
      <td>143.571429</td>
      <td>102.428571</td>
    </tr>
    <tr>
      <td>2</td>
      <td>06/28-07/04</td>
      <td>101.5</td>
      <td>99.7</td>
      <td>100.942857</td>
      <td>-1.8</td>
      <td>-0.557143</td>
      <td>28.267858</td>
      <td>2728.142857</td>
      <td>302.000000</td>
      <td>157.571429</td>
      <td>95.857143</td>
    </tr>
    <tr>
      <td>3</td>
      <td>07/05-07/11</td>
      <td>100.5</td>
      <td>98.1</td>
      <td>99.783333</td>
      <td>-2.4</td>
      <td>-0.716667</td>
      <td>27.240334</td>
      <td>2442.000000</td>
      <td>289.666667</td>
      <td>119.666667</td>
      <td>86.000000</td>
    </tr>
    <tr>
      <td>4</td>
      <td>07/12-07/18</td>
      <td>99.6</td>
      <td>99.8</td>
      <td>99.142857</td>
      <td>0.2</td>
      <td>-0.457143</td>
      <td>26.135000</td>
      <td>2707.428571</td>
      <td>301.571429</td>
      <td>150.857143</td>
      <td>93.857143</td>
    </tr>
  </tbody>
</table></div>
